<div>
<center>
       <body>
        <body bgcolor="black">

        <div class="container">
            <div class="row">
                <h2 class="section-heading">Publica</h2>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="col-lg-12 text-center">
                        <!--<div class="form-group">
                        <label for="usr">Titulo</label>
                        <input type="text" class="form-control" id="usr">
                        </div> -->
                        <div class="form-group">
                        <label for="pwd">Descripcion</label>
                        <textarea class="form-control" rows="5" ng-model= "contenido" id="comment"></textarea>
                        </div>
                    </div>
                </div>
                    <div class="col-lg-3 col-md-6 text-center">
                    <div class="col-lg-12 text-center">
                       <!--
                        <div class="form-group">
                        <label for="usr">Institución</label>
                        <input type="text" class="form-control" id="Institucion">
                        </div>
                        -->
                        <div class="form-group">
                        <label for="pwd">Campus</label>
                        <input type="text"  ng-model= "facultad" class="form-control" id="Campus">
                        </div>
                        </div>
                        <!--
                        <div class="form-group">
                        <label for="pwd">Ubicación</label>
                        <input type="text" class="form-control" id="Ubi">
                        </div>
                        -->
                        <div class="form-group">
                        <label for="pwd">Localización</label>
                        <input type="text" class="form-control" id="localizacion">
                        </div>
                    </div>

                 <div class="col-lg-3 col-md-6 text-center">
                    <div class="col-lg-12 text-center">
                        <div class="form-group">
                        <label for="usr">Foto</label>
                        <input type="file" file-model="myFile "class="form-control" id="foto">
                        <br></br>
                         <button ng-click="crearReporte()" class="btn btn-warning"> Publicar </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        </body>
     </center>
</div>
