<div ng-app="angularSpa" ng-controller="ReportesCtrl">
    <section class="bg-primary">

    <div class="container-fluid">
        <row class="col-sm-4"></row>
        <row class="col-sm-4">
            <center>
                <h1 text="align-center">Publica</h1>
                <h2>No pudiste acceder a un lugar, Avísanos</h2>
            </center>
            <!-- Subir Foto -->
            <br></br>
            <div class="input-group input-group-sm" style="width: 100%;">
                <label for "imagen">
                    Sube una foto:
                </label>
                <div>
                    <input type="file" file-model="myFile "class="form-control" id="foto">
                </div>
            </div>

            
            <br></br>
            <div class="input-group input-group-sm " style="width: 100%;">
                <label for "comment">
                    Descripción:
                </label>
                <div>
                  <textarea class="form-control input-lg" rows="3" ng-model= "contenido" id="comment"></textarea>
                </div>


            </div>

            <br></br>
            <!-- El dropdown que pusiste no funciona rosa. -->
            <div class="">
               <div class="">
                   <div class="form-group" style="width: 100%;">
                       <label for="usr">Universidad</label>
                       <!--
                        <select name="universidad">
                               <option ng-repeat="universidad in universidades" value={{universidad.id}}> {{universidad.nombre}} </option>
                        </select>
                    -->
                        <select ng-model="universidad"  ng-options="uni.id as uni.nombre for uni in universidades" ng-change="onchange(universidades[universidad-1])"></select>
                    </div>
                </div>
            </div>

            <br></br>

            <div class="input-group input-group-sm">
                <label for "map">
                    Ubicacion:
                </label>
                <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" events="map.events">
                <ui-gmap-marker ng-repeat="m in map.markers" coords="m.coords" icon="m.icon" idkey="m.id"></ui-gmap-marker>
                </ui-gmap-google-map>
                LATITUD: <input type ="text" ng-model= "latitud">
                LONGITUD: <input type ="text" ng-model= "longitud">

            </div>

            <button ng-click="crearReporte()" class="btn btn-warning"> Publicar </button>
        </row>
    </div>

</div>
