


    <section class="bg-primary" id="info">
       <div class="container">
           <div class="row">
               <div class="col-lg-8 col-lg-offset-2 text-center">
                   <h2 class="section-heading">Tenemos lo que necesitas</h2>
                   <hr class="light">
                   <p class="text-faded">Te orientamos para saber tus derechos ve a la sección de ayuda, avisanos</p>
                   <a href="#ayuda" class="btn btn-default btn-xl">Ayuda</a>
               </div>
           </div>
       </div>
    </section> <!--bien aca -->

    <section id="contacto">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Contactanos!</h2>
                    <hr class="primary">
                    <p></p>
                </div>
                <div class="col-lg-4 col-lg-offset-2 text-center">
                    <i class="fa fa-phone fa-3x wow bounceIn"></i>
                    <p>Telefono de contacto</p>
                </div>
                <div class="col-lg-4 text-center">
                    <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p><a href="mailto:your-email@your-domain.com">Emaildecontacto@contacto.com</a></p>
                </div>
            </div>
        </div>
        </section>

        <section class="bg-primary" id="ayuda">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">¿No sabes las normas de accesibilidad?</h2>
                    <hr class="light">
                    <p class="text-faded">Las tenemos aqui, lee tus derechos</p>

                     <!--JP me eche por ahora esta seccion me estaba dejando la embarrada  pero ya tengo la solucion me falla un poco un componente del css cuando vuelva onda a las 9 30 lo soluciono y lo subo  esta version deveria tener el chectbox -->

                        <div class="tabbable">
                        <ul class="nav nav-tabs">
                            <li class = "active"><a href="#1" data-toggle="tab">Reglamento de rampas</a></li>
                            <li ><a href="#2" data-toggle="tab">Reglamento de estacionamiento</a></li>
                            <li ><a href="#3" data-toggle="tab">Reglamento de espacios</a></li>
                            <li ><a href="#4" data-toggle="tab">Más</a></li>
                        </ul>
                            <div class="tab-content">
                            <div class="tab-pane active" id="1">


                                <div class="panel panel-default">
                                  <div class="panel-body">



                                         <div class="text-info">
                                          <p class="text-justify">
                                            Falta de rampa de acceso.<br><br>
                                            Rampa de acceso inadecuada, es decir:<br>
                                            <blockquote>
                                             <p class="text-justify">
                                            La rampa posee una pendiente inadecuada, es decir, posee una pendiente mayor a 12° en rampas  con longitud menor a dos metros o en rampas de longitud mayor una pendiente de 8°.<br><br>
                                            La rampa posee una instancia de “descanso” más este es inadecuado, es decir,  no permite el giro de la silla de ruedas.<br><br>
                                            La rampa no posee pasamanos.<br><br>
                                            El pasamanos de la rampa posee una altura inadecuada.<br><br>
                                            La rampa no posee elementos antideslizantes.<br><br>
                                            Rampa de acceso bloqueada o en mal estado:<br>
                                            <blockquote>
                                            <p class="text-justify">
                                            Existen elementos que bloquean el acceso o la circulación por la rampa tales como bicicletas,  cadenas, pilares, escaleras, etc, la institución ha de velar por el correcto acceso a las rampas.<br><br>
                                             La rampa se encuentra en mal estado, es decir, falta de mantención con elementos peligrosos ( elementos cortantes tales como bordes afilados).<br><br>
                                            </p>
                                            </blockquote>

                                             </blockquote>
                                         </p>

                                    </div>
                                  </div>
                                </div>

                            </div>
                            <div class="tab-pane" id="2">
                             <div class="panel panel-default">
                                  <div class="panel-body">

                                    <div class="text-info">
                                          <p class="text-justify">
                                            Falta o uso inadecuado de estacionamientos para discapacitados:<br>
                                            <blockquote>
                                            <p class="text-justify">
                                            Número insuficiente de estacionamientos.<br><br>
                                            Los estacionamientos  no poseen las medidas adecuadas. <br><br>
                                            Los estacionamientos no poseen el acceso adecuado, es decir no poseen un espacio de salida  adecuado o no existen rampas de acceso/saldia.<br><br>
                                            Los estacionamientos para discapacitados poseen un uso inadecuado, es decir, son usados por personas que no poseen discapacidad, las instituciones deben velar por el correcto uso de estos.<br><br>

                                            </p>
                                        </blockquote>

                                         </p>

                                    </div>


                                    </div>
                                  </div>
                                </div>

                            <div class="tab-pane" id="3">
                             <div class="panel panel-default">
                                  <div class="panel-body">



                                         <div class="text-info">
                                          <p class="text-justify">
                                           Instalaciones de trabajo inadecuadas:
                                            <blockquote>
                                            <p class="text-justify">
                                            Escritorios, mesas de trabajo o de salas de altura inadecuada.<br><br>
                                             Computadores que no contemplen accesibilidad:<br>
                                             <blockquote>
                                            <p class="text-justify">
                                            Pantallas con bajo contraste.<br><br>
                                            Pantallas a altura inadecuada.<br><br>
                                            Computadores sin teclados especiales o adaptadores para estos.<br><br>
                                            Falta de asistencia por voz<br><br>
                                            instalaciones inadecuadas o faltas de mantención<br><br>
                                            </p>
                                            </blockquote>
                                            <p class="text-justify">
                                            Instalaciones con deficiencias:<br>
                                            <blockquote>
                                            <p class="text-justify">
                                            Interruptores fuera del alcance.<br><br>
                                            Manillas de acceso  fuera del alcance.<br><br>
                                            Puertas de ancho adecuado.<br><br>
                                            Salas sin señalización (ha de poseer un cartel indicativo en braille).<br><br>
                                            Desniveles.<br><br>
                                            Piso sin canales de señalización (opcional).<br><br>
                                            Escaleras sin señalización (las escaleras han de estar señalizadas en braille, y el camino ha está  señalizado por canales en el piso).<br><br>
                                            </p>
                                            </blockquote>
                                            </p>
                                            <p class="text-justify">
                                            Baños inadecuados, los baños para personas con sillas deben ser un cubículo especial adaptado a las sillas de ruedas:<br>
                                            <blockquote>
                                            <p class="text-justify">
                                            Ancho o alto  inadecuado del baño.<br><br>
                                            No posee pasamanos.<br><br>
                                            No existe lavamos dentro del cubículo.<br><br>
                                            Lavamanos no posee la altura adecuada.<br><br>
                                            No existe espacio en el cubículo para girar la silla de ruedas.<br><br>
                                            No existe espacio para levantarme de la silla de ruedas.<br><br>
                                            La altura del pasamanos es inadecuado.<br><br>
                                            Excesiva distancia entre el pasamanos y el inodoro.<br><br>
                                            Instalaciones deficientes o en mal estado.<br><br>
                                            </p>
                                            </blockquote>
                                        </p>
                                         </p>
                                  <blockquote>
                                  </p>
                                    </div>
                                  </div>
                                </div>
                            </div>

                            <div class="tab-pane" id="4">
                             <div class="panel panel-default">
                                  <div class="panel-body">



                                         <div class="text-info">
                                          <p class="text-justify">
                                           <a href="http://www.senadis.gob.cl/" target="_blank">Página de SENADIS (servicio nacional de discapacitados) </a><br><br>
                                        <a href="http://www.senadis.gob.cl/pag/138/435/documentos_y_herramientas" target="_blank">Documetos y reglamentos vigentes de accesibilidad universal </a>

                                         </p>
                                    </div>
                                  </div>
                                </div>



                            </div>
                          </div>
                        </div>



                </div>
            </div>
        </div>
    </section>
