<div><br><br><br><br><br>
<h1> ANDA </h1>
<section class="bg-primary" id="ayuda">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">¿No sabes las normas de accesibilidad?</h2>
                    <hr class="light">
                    <p class="text-faded">Las tenemos aqui, lee tus derechos</p>

                     <!-- Aqui comienza el panel resumen de porque se puede dar aviso-->

                     <div class="panel panel-default">
                     <div class="panel-body">
                    <p align="justify">
                     <font color="black">
                        Falta de rampa de acceso <br><br>
                        Rampa de acceso inadecuada, es decir:<br>
                     <p align="justify" style="text-indent: 40pt">

                        La rampa posee una pendiente inadecuada, es decir, posee una pendiente mayor a 12° en rampas  con longitud menor a dos metros o en rampas de longitud mayor una pendiente de 8° <br> <br>

                        <p align="justify" style="text-indent: 40pt">

                        La rampa posee una instancia de “descanso” más este es inadecuado, es decir,  no permite el giro de la silla de ruedas<br> <br>
                        <p align="justify" style="text-indent: 40pt">
                        La rampa no posee pasamanos<br><br>

                        <p align="justify" style="text-indent: 40pt">
                        El pasamanos de la rampa posee una altura inadecuada<br><br>
                        <p align="justify" style="text-indent: 40pt">
                        La rampa no posee elementos antideslizantes<br><br>
                        <p align="justify" style="text-indent: 40pt">
                        Rampa de acceso bloqueada o en mal estado:<br>

                        <p align="justify" style="text-indent: 60pt">
                        Existen elementos que bloquean el acceso o la circulación por la rampa tales como bicicletas,  cadenas, pilares, escaleras, etc, la institución ha de velar por el correcto acceso a las rampas <br><br>

                          <p align="justify" style="text-indent: 60pt">
                         La rampa se encuentra en mal estado, es decir, falta de mantención con elementos peligrosos ( elementos cortantes tales como bordes afilados) <br><br>
                          <p align="justify" style="text-indent: 60pt">
                        Falta o uso inadecuado de estacionamientos para discapacitados: <br>
                          <p align="justify" style="text-indent: 80pt">
                        Número insuficiente de estacionamientos <br><br>
                        Los estacionamientos  no poseen las medidas adecuadas <br><br>
                        Los estacionamientos no poseen el acceso adecuado, es decir no poseen un espacio de salida  adecuado o no existen rampas de acceso/saldia<br><br>
                        Los estacionamientos para discapacitados poseen un uso inadecuado, es decir, son usados por personas que no poseen discapacidad, las instituciones deben velar por el correcto uso de estos.
                        Instalaciones de trabajo inadecuadas:
                        Escritorios, mesas de trabajo o de salas de altura inadecuada.
                         Computadores que no contemplen accesibilidad:
                        Pantallas con bajo contraste
                        Pantallas a altura inadecuada
                        Computadores sin teclados especiales o adaptadores para estos.
                        Falta de asistencia por voz
                        instalaciones inadecuadas o faltas de mantención
                        Instalaciones con deficiencias:
                        Interruptores fuera del alcance
                        Manillas de acceso  fuera del alcance
                        Puertas de ancho adecuado
                        Salas sin señalización (ha de poseer un cartel indicativo en braille )
                        Desniveles
                        Piso sin canales de señalización (opcional)
                        Escaleras sin señalización (las escaleras han de estar señalizadas en braille, y el camino ha está  señalizado por canales en el piso)
                        Baños inadecuados, los baños para personas con sillas deben ser un cubículo especial adaptado a las sillas de ruedas:
                        ancho o alto  inadecuado del baño
                        No posee pasamanos
                        No existe lavamos dentro del cubículo
                         lavamanos no posee la altura adecuada
                        no existe espacio en el cubículo para girar la silla de ruedas
                        no existe espacio para levantarme de la silla de ruedas
                        la altura del pasamanos es inadecuado
                        excesiva distancia entre el pasamanos y el inodoro
                        instalaciones deficientes o en mal estado

                    </front>
                    </p>
                    </div>
                    </div>

                     <!-- Aqui se termina el panel de xk se puede dar aviso-->
</div>
