 <div class="panel-body">
     <br></br>
    <div class="panel panel-default">
        <div class="panel-heading">Autor: {{reporte.autor.nickname}}, creado en {{reporte.fecha}}</div>
        <div class="panel-body">
            <div class="col-sm-4">
                <img src="{{reporte.foto}}" alt="Foto" style="width:360px;height:auto;">
            </div>
            <div class="col-sm-4 ">
                <font color="black" >{{reporte.contenido}}</font>
                <p class="text-muted small" >Creado el: {{reporte.fecha}}</p>
                <p class="text-muted small" ></p>
                <p class="text-muted small" >Identificador: {{reporte.idReporte}}</p>
            </div>
            <div class="col-sm-4 ">
                <ui-gmap-google-map center="map2.center" zoom="map2.zoom" draggable="true">
                    <ui-gmap-marker coords="map2.marker2" options ="map2.marker2.options" idkey="map2.marker2.id"></ui-gmap-marker>
                </ui-gmap-google-map>
            </div>
        </div>


    </div>
    <br><a href="/#/reportes" type="button" class="btn btn-default">Volver</a><br>
</div>
