
<section class="bg-primary">

<div class="container">
    <div class="container">
        <center>
            <h1>Últimos reportes</h1>
        </center>
        <row class="col-sm-4 ">
            <nav>
              <ul class="pagination pagination-sm">
                <li ng-if="inicio > 0">
                  <a ng-click="page(-10)" aria-label="Previous">
                    <span aria-hidden="true">&laquo; Anteriores </span>
                  </a>
                </li>
                <li >
                  <a ng-click="page(10)" aria-label="Next">
                    <span aria-hidden="true">&raquo; Siguientes</span>
                  </a>
                </li>
              </ul>
            </nav>
        </row>
    </div>

    <div class="container">
        <div ng-repeat="reporte in reportes">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">Creado por: {{reporte.autor.nombreUsuario}} {{reporte.autor.apellidoUsuario}} el {{reporte.fecha}}</h2 >
                </div>
                <div class="panel-body">
                  <div class="col-sm-4" >
                      <a href="#" class="thumbnail">
                        <img src="{{reporte.foto}}" alt="Foto">
                      </a>
                  </div>
                  <div class="col-sm-8">
                      <div class="well">
                          <p style="color:black;">{{reporte.contenido}}</p>
                      </div>

                      <a href="#/reportes/{{reporte.idReporte}}" class="btn btn-primary"> Más detalles </a>
                  </div>

                </div>
            </div>
        </div>
    </div>

</div>
</section>
